body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.channel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#channels {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
    width: 90%;
}

.channel {
    cursor: pointer;
    background-color: #1f1f1f;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.2s;
}

.channel:hover {
    transform: scale(1.05);
}

.channel-logo {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

video {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
}
