body {
    background-color: #1e1e1e;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin: 20px 0;
}

.channel-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.channel {
    background-color: #282828;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s;
    cursor: pointer;
}

.channel:hover {
    transform: scale(1.05);
}

.channel img {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
